.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 50px 13px 50px;
    background-color: rgb(115, 103, 21);
}
.text{
    background-color: aliceblue;
    text-align: center;
    border-radius: 0.75rem;
    padding: 5px 20px 5px 20px;
    transition: 0.3s;
}
.text:hover{
    background-color: red;
    cursor: pointer;
    color: gold;
}


.text{
    text-decoration: none;
    color: black;
}

input{
    border-radius: 1rem;
    padding: 3px 5px 3px 5px;
}