
.text{
    background-color: aliceblue;
    text-align: center;
    border-radius: 0.75rem;
    padding: 5px 20px 5px 20px;
    transition: 0.3s;
}
.text:hover{
    background-color: red;
    cursor: pointer;
    color: gold;
}


.text{
    text-decoration: none;
    color: black;
}

input{
    border-radius: 1rem;
    padding: 3px 5px 3px 5px;
}
img{
    width: 50%;
}
#product{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    
}
.card{
    text-align: center;
    margin: 15px;
}