body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#login-form{
    backdrop-filter: blur(4px);
}

#back{
    width: 50px;
    text-align: center;
}
#back:hover{
    color: white;
    background-color: aqua;
}


input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 68, 0, 0.788);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #058aa1dc;
    color: gold;
}

p {
    text-align: center;
}
